<launch>
  <node name="rosbridge_abd" pkg="rosbridge_server" type="rosbridge.py" output="screen">
      <param name="port" type="int" value="8889" />
  </node>

  <node name="rosapi_abd" pkg="rosapi" type="rosapi.py" output="screen"/>

  <rosparam> 'http/default': 8888 </rosparam>
  <node name="roswww_abd" pkg="roswww" type="webserver.py" output="screen"/>

</launch>
