<launch>

  <include file="$(find autobed_engine)/launch/autobed_engine.launch" /> 

  <node name="rosbridge" pkg="rosbridge_server" type="rosbridge.py" output="screen">
      <param name="port" type="int" value="2206" />
  </node>

  <node name="rosapi" pkg="rosapi" type="rosapi.py" output="screen"/>

  <rosparam> 'http/default': 2205 </rosparam>
  <node name="roswww" pkg="roswww" type="webserver.py" output="screen"/>

</launch>
