<launch>
  <node name="height_hokuyo_node" pkg="hokuyo_node" type="hokuyo_node" ns="autobed" output="screen">
    <param name="port" type="string" value="/dev/sensors/hokuyo_autobed_height" />
    <remap from="/autobed/scan" to="/autobed/height_hokuyo/scan" />
  </node>

  <node name="hokuyo_interpreter_node" pkg="autobed_engine" type="hokuyo_interpreter.py" ns="autobed" output="screen">
  </node>
</launch>
