<launch>
  <!-- Start Controller Manager -->
  <include file="$(find pr2_controller_manager)/controller_manager.launch" />

  <!-- Torso -->
  <rosparam command="load" file="$(find hrl_gazebo_autobed)/yaml/autobed_height_controller.yaml" />
  <!-- Controllers that come up started -->
  <node name="autobed_height_controller_spawner"
        pkg="pr2_controller_manager" type="spawner" output="screen"
        args="autobed_height_controller" /> 

  <rosparam command="load" file="$(find hrl_gazebo_autobed)/yaml/autobed_legs_head_controller.yaml" />
  <!-- Controllers that come up started -->
  <node name="autobed_legs_head_controller_spawner"
        pkg="pr2_controller_manager" type="spawner" output="screen"
        args="autobed_head_controller autobed_legs_controller" /> 

  <node name="sim_setup" pkg="hrl_gazebo_autobed" type="height_setup.py" output="screen" />
</launch>
